:root {
	/* Color */
	--clr-orange: #ffa067;
	--clr-purple: #5843be;
	--clr-red: #fe7066;
	--clr-grey: #f1f3f6;
	--clr-grey-light: #b9c2d1;
	--clr-black: #222;
	--clr-white: #fff;
	/* Border */
	--border: 0.5px solid lightGrey;
	--border-radius: 0.625rem;
	/* Shadow */
	--bs-dark: 5px 5px 8px rgba(0, 0, 0, 0.2);
	--bs-light: -5px -5px 8px rgba(255, 255, 255, 0.6);
	--bs-inset-dark: -3px -3px 4px rgba(0, 0, 0, 0.2);
	--bs-inset-light: 3px 3px 4px rgba(255, 255, 255, 0.8);
	--bs-btn-inset-light: -3px -3px 4px rgba(255, 255, 255, 0.8);
	--bs-btn-inset-dark: 3px 3px 10px rgba(0, 0, 0, 0.4);

	/* Font */
	--ff-primary: 'Poppins', sans-serif;
	--fw-light: 300;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-bold: 700;
}

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* GLOBAL */
body {
	font-family: var(--ff-primary);
	margin: 0;
	padding: 0;
	height: 100vh;
}
.container {
	width: 100vw;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 6fr 3fr;
	grid-template-areas: 'n d p';
}
.title {
	font-weight: var(--fw-medium);
	color: var(--clr-black);
}
.subtitle {
	font-weight: var(--fw-normal);
	font-style: 0.9rem;
	color: var(--clr-grey-light);
}
.largeTitle {
	font-size: 2rem;
	font-weight: var(--fw-medium);
}
